* {
    margin: 2px;
}

body {
    text-align: center;
    background-color: rgb(50, 148, 190);
}

.cssbox {

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 10px;


}

.x {
    color: red;
}

.o {
    color: blue;
}

.a1 {
    height: 90px;
    width: 100px;
    margin: 4px;
    padding: 15px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);

    font-size: 50px;
    box-sizing: border-box;
}

.h1 {
    color: rgb(146, 0, 0);
    background-color: aliceblue;
    height: 50px;
    width: 134px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.winner {
    color: rgb(179, 26, 20);
    font-size: large;
    font-size: 25px;
}

.hide {
    display: none;
}